@import "_func.less";
@import "_kreset.less";
@import "_comm_m.less";

/**
* 单屏总容器样式
html,body{width: 100%; height: 100%; overflow: hidden;}
.g-wrap{ width: 100%; height: 100%; min-height: 100%; position: relative; }
.g-content{position: absolute; top: 0; border: 0; left: 0; right: 0; width: 100%; height: 100%; overflow: hidden;
  -webkit-overflow-scrolling:touch; overflow-scrolling:touch;
}
*/

/**
* 长页面总容器样式
*/
html, body{width: 100%; display: -webkit-box; display: box; -webkit-box-orient:vertical; box-orient:vertical; -webkit-box-align: center; box-align: center; -webkit-overflow-scrolling:touch; overflow-scrolling:touch;}
.g-wrap{width: 100%; position: relative; min-height: 100%;}

// 背景色
body{background: #f0f0f0;}

// 不同状态下进行调整
html{
  &.loading{
    .g-wrap{display: none;}
    .g-loading{display: block;}
  }
  &.forhorview{
    .g-wrap{display: none;}
    .g-forhorview{display: block;}
  }
  .g-loading{display: none;}
  .g-forhorview{display: none;}
}

/**
 * 页面样式
 */


