doctype html
html.loading(lang="zh-CN")
  head
    meta(charset="utf-8")

    title page-title

    include _inc/_seo.jade
    include _inc/_viewport.jade

    link(rel="stylesheet", href="css/index_m.less")

  body
    h1.hide page-h1-title

    .g-wrap
      .g-content 您的内容！

    //-横屏则显示提示框
    .g-forhorview 推荐使用竖屏显示！

    //-loading
    .g-loading 正在加载...

    //-移动端推荐使用zepto
    script(src="lib/zepto.js")
    script(src="js/index_m.coffee")

