doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")

    title page-title

    include _inc/_seo.jade
    include _inc/_viewport.jade

    link(rel="stylesheet", href="css/index.less")

  body

    h1.hide page-h1-title

    p 页面内容

    script(src="lib/pkg.jquery-1.11.3.js")
    script(src="js/index.coffee")

